.vscode
__pycache__/
.venv311/
.cache
experiments/*/logs
experiments/*/archived_configs
experiments/*/configs
experiments/test/*
datasets/teacher_data/*
datasets/cifar-10-batches-py/
datasets/summarize_dataset.py
test/
analyze_run.py
scaling.py
helper.py
test.py
.pixi
todos.md
figures_analyze_acts/
figures_compare_runs/
figures_normalize_runs/
figures_pca/
figures_weight_update_similarity/
figures_weight_distributions/
visualizations/kernel_pca.py
visualizations/normalize_runs.py