[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["linux-64"]
readme = "README.md"

[tool.pixi.tasks]
test = "pytest tests/ -v"

[tool.pixi.dependencies]
python = ">=3.11.13"
hydra-core = ">=1.3.2"
tqdm = ">=4.66.4"
numpy = ">=1.26.4"
matplotlib = ">=3.10.7"
pandas = ">=2.3.3"
torchvision = ">=0.24.0,<0.25"
nvidia-ml-py = ">=13.580.82,<14"

[tool.pixi.feature.cpu.pypi-dependencies]
jax   = { version = ">=0.5.3,<0.6", extras = ["cpu"] }
flax  = ">=0.10.5,<0.11"
optax = ">=0.2.6,<0.3"

[tool.pixi.feature.gpu.pypi-dependencies]
jax   = { version = ">=0.5.3,<0.6", extras = ["cuda12"] }
flax  = ">=0.10.5,<0.11"
optax = ">=0.2.6,<0.3"

[tool.pixi.feature.gpu]
system-requirements = {cuda = "12"}

[tool.pixi.environments]
gpu = { features = ["gpu"] } 
default = { features = ["cpu"] }
